<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create a new school</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <style>
            body{background-color:lightblue;}
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3"><br>
                    <div class="shadow-lg p-3 mb-5 bg-body rounded">
                        <form method="post">
                            {# csrf token ofera protectie impotriva falsificariicererilor intre site/uri. #}
                            {% csrf_token %}
                            <div class="card-title">
                                <h4 class="text-center">Add details about new school</h4>
                            </div>
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-success">Save a new school</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
    </body>
</html>