<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <style>
            body{background-color:lightblue;}
        </style>
      
        
        <div class="container">
            <h1>This is the list of all schools:</h1>
            <br><br><br>
            {%for item in all_schools%}
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">{{item.school_name}}</div>
                <div class="card-body">
                  <h5 class="card-title">School Details:</h5>
                  <p class="card-text">School Adress: {{item.school_address}}</p>
                  <p class="card-text">school type: {{item.school_type}}</p5>
                   
                </div>
              </div>
            {%endfor%}
        </div>
    </body>
</html>